#anchorPaneMain{
    -fx-background-image: url('Backgrounds/oldDnDPaper.jpg');
    -fx-background-size: cover;
}
#spellName{
    -fx-text-fill: #B52012;
}
#line{
    -fx-stroke: #B52012;
    -fx-stroke-width: 2px;
}
#anchorPaneSecondary{
    -fx-background-image: url('Backgrounds/backgroundPaper.jpg');
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
}
#spellDescription{
    -fx-line-spacing: 8px;
}
#spellCasting{
    -fx-line-spacing: 8px;
}